Repository shenoy-anurag/simple-reddit, pull requests merged in 2022-02, with the labels that each got.

#29 feat: added jwt authentication to login
  backend/configs/JWTAuthentication.go
  backend/configs/LoginService.go
  backend/go.mod
  backend/go.sum
  backend/users/JWTMiddleware.go
  backend/users/service.go
Labels: User Stories - BE

#37 build: added cors and used default cors policies
  backend/go.mod
  backend/go.sum
  backend/main.go
Labels: enhancement

#56 fix,refactor: fixed http codes and error messages, moved signup db query to separate function, angular build bug
  backend/users/service.go
  frontend/forum-app/.browserslistrc
Labels: bug

#61 feat: returning user details in the login response
  backend/users/models.go
  backend/users/service.go
Labels: User Stories - BE

#63 fix: checks if user already exists in the signup API
  backend/users/service.go
Labels: bug

#67 feat,fix: added get community details api, checking if community exists
  backend/communities/models.go
  backend/communities/service.go
  backend/users/service.go
  go.mod
Labels: User Stories - BE, User Story

#68 feat: create post API
  backend/main.go
  backend/posts/models.go
  backend/posts/service.go
  backend/users/models.go
  backend/users/service.go
Labels: User Stories - BE
